# write a program to print a specified after removing the o th,4th,5th elements

In [40]:
List=['red','green','white','black','pink','yellow']
print(List)

['red', 'green', 'white', 'black', 'pink', 'yellow']

In [41]:
List.remove(List[0])
print(List)

['green', 'white', 'black', 'pink', 'yellow']

In [44]:
List.remove(List[3])
print(List)

['green', 'white', 'black']

# 2.write a python program to remove duplicates from dictionary

In [53]:
dict={"1":"apple","2":"banana","3":"mango","4":"grapes","5":"apple","6.":"banana"}
print(dict)

{'1': 'apple', '2': 'banana', '3': 'mango', '4': 'grapes', '5': 'apple', '6.': 'banana'}

In [60]:
result={}
for key,value in dict.items():
     if value not in result.values():
        result[key]=value

In [61]:
print(result)

{'1': 'apple', '2': 'banana', '3': 'mango', '4': 'grapes'}

# 3.write a  python program to get a list, sorted in  increasing order by the last element in  each tuple  from a given list of non -empty tuples:

In [59]:
List=[(2,5),(1,2),(4,4),(2,3),(4,5)]

# 4. write a python  program to create  a dictionary from a string

In [1]:
s="dhyanahitha"
dic={}
for i in s:
    dic[i]=dic.get(i,0)+1

In [3]:
print(dic)

{'d': 1, 'h': 3, 'y': 1, 'a': 3, 'n': 1, 'i': 1, 't': 1}

# 5.write a python program to find the second smallest number in a list

In [4]:
l=[1,23,34,56,12,45,7,89]
#m_value=min(l)
#print(mm_value)
l.sort()
print(l[1])

7

# 6.write a python program to create a tuple with numbers and print one item

In [5]:
t=(2,3,4,5,6,7,8)
print(t[1])

3

# 7. write a python program to convert a list to a tuple

In [12]:
l1=[2,3,5,7,8,10]
tuple(l1)

(2, 3, 5, 7, 8, 10)

# 8. return no.of pairs which gives sum as 3 i.e,append those pairs to a list and print the list .do it using a single loop.

# 9. write a python  program to generate groups of five consecutive numbers in a list.

In [25]:
l=[[5*i +j for j in range(1,6)] for i in range(5)]
print(l)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]

# 10. write a python program to convert a list of characters into a string.

In [26]:
L=[1,2,3,4,5,6]
for i in L:
    a=str(i)
    print(a)
type(a)

1
2
3
4
5
6

str

In [28]:
l=['python']
for i in l:
    a=str(i)
    print(a)
type(a)

python

str