# Functions:

# 1. keyword-def(define a function)
# 2.syntax-def function name(arg):

# addition of two nos:

In [1]:
def add(a,b):
    z=a+b
    print(z)

In [2]:
add(10,15)

25

# subtraction of two nos:

In [3]:
def sub(a,b):
    z=a-b
    print(z)

In [4]:
sub(20,40)

-20

# multiplication of two nos:

In [5]:
def mul(a,b):
    z=a*b
    print(z)
mul(13,15)

195

# print even nos using function:

In [13]:
def even():
    n=int(input("enter the number :"))
    if n % 2==0:
            print("{0}is even". format (n))

In [15]:
print("even")

even

In [16]:
def even(a):
    if a%2==0:
        print("even")
    else:
        print("odd")
even(10)

even

# for loop used in range:

In [17]:
def even1():
    for i in range(1,11):
        if i%2==0:
            print(i,"even")
        else:
            print(i,"odd")
even1()

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [20]:
def even1():
    for i in range(1,11):
        if i%2==0:
            print(i,"even")
even1()

2 even
4 even
6 even
8 even
10 even

In [29]:
def odd():
    for i in range(1,11):
        if i%2!=0:
            print(i,"odd")
odd()

1 odd
3 odd
5 odd
7 odd
9 odd

# Arguments:
    1.default argument
    2.positional argument
    3.keyword argument
    4.variable length argument

# 1. default arguments :no need to give values in the function calling time

In [35]:
def display(a=10,b=20):
    c=a+b 
    print(c)
display()

30

# 2. positional arguments:arguments can be called by positions

In [36]:
def display(a,b):
    c=a+b
    print(c)
display(a=30,b=40)

70

# 3. keyword arguments:that can be called by their name

In [58]:
def names(firstname,secondname):
    print("first name is:",firstname)
    print("second name is:",secondname)
names("ashok","geetha")

first name is: ashok
second name is: geetha

# 4. variables length argument:

In [51]:
def display(*a):
    print(a)
display([1,2,3,4])

([1, 2, 3, 4],)

In [54]:
n=int(input("enter a no:"))
def display(n):
    print(n)
display(n)

enter a no:12
12

In [59]:
def display(n):
    n=int(input("enter a no:"))
    print(n)
display(n)

enter a no:30
30

# task: factors of a given nos

In [10]:
def factor(n):
    n=int(input("enter the number"))
    for i in range(1, n+1):
        if n%i==0:
            print(i,end=" ")  
factor(num)

enter the number6
1 2 3 6

In [11]:
def factor (n):
    n=int(input("enter the number"))
    for i in range(1,n+1):
        if n%i==0:
            print(i,end=" ")
factor(num)

enter the number12
1 2 3 4 6 12

#  task write a python function to find largest of 3 nos

In [1]:
def largest(n1,n2,n3):
    if n1>n2 and n1>n3:
        print("largest number is:",n1)
    elif n2>n1 and n2>n3:
        print("largest number is:",n2)
    else:
        print("largest number is:",n3)
largest(2,4,6)

largest number is: 6

# task  write a python function  
 if no is in given range then print "true" otherwiswe "false"

In [1]:
n=int(input("enter a number"))
n1=int(input("enter a limit starting"))
n2=int(input("enter a limit ending"))
def number():
    for i in range(n1,n2+1):
        if n==i:
            return True
    return False
number()

enter a number6
enter a limit starting1
enter a limit ending20

True

# SET: is mutable

set is a unordered and unindexed it is reprenseted by {}

In [2]:
# dictionary
s1={}
print(type(s1))

<class 'dict'>

In [3]:
#set
s={'rose','lilly'}
print(type(s))
print(s)

<class 'set'>
{'lilly', 'rose'}

In [4]:
# duplicate data not entered
s={1,2,3,4,6,4,3,2}
s

{1, 2, 3, 4, 6}

In [5]:
# data is jubling then output is crt order
s={'rose',1,4,5,0,4}
s

{0, 1, 4, 5, 'rose'}

In [6]:
# it is alphabetical order
s2={'rose','jasmine','tulips',1,2,3,4}
for i in s2:
    print(i)

1
2
3
4
jasmine
tulips
rose

In [9]:
s2={'rose','lilly','marigold'}
print(s2)

{'lilly', 'rose', 'marigold'}

# union

In [10]:
#union  is a method
s3={1,2,3,4,5,6}
s4={1,0,9,8,4}
s3.union(s4)

{0, 1, 2, 3, 4, 5, 6, 8, 9}

# difference

In [11]:
s3.difference(s4)

{2, 3, 5, 6}

# intersection

In [12]:
s3.intersection(s4)

{1, 4}

# mimimun

In [13]:
print(min(s3))

1

# maximum

In [14]:
print(max(s4))

9

# sum

In [15]:
print(sum(s3))

21

# we using {} then  () is also used {()} then it will be used set is display

In [16]:
a={(1,3,4,5)}
print(type(a))

<class 'set'>

In [17]:
# add () i takes only one items
a.add('sunflower')
print(a)

{'sunflower', (1, 3, 4, 5)}

In [18]:
# it only used for single argument
a.add('rose','lotus')
print(a)

TypeError: add() takes exactly one argument (2 given)

In [19]:
# more than variable  use the update 
a.update('rose','lotus')
print(a)

{'o', 'e', 'u', 'sunflower', 's', 'r', 'l', (1, 3, 4, 5), 't'}

# pop()

In [20]:

a.pop()

'o'

In [23]:
# the remove () deletes the item in aset
s.remove(1)

KeyError: 1

# discard the data is any one variable it will be deleted

In [24]:
s.discard(4)

In [25]:
print(s)

{0, 5, 'rose'}

# clear the data

In [26]:
a.clear()

In [27]:
print(a)

set()

# it is permentally deleted defind

In [32]:
del s4
print(s4)

NameError: name 's4' is not defined

# union it is used for "|"

In [30]:
a={1,2,3,4,5}
b={8,9,0,5,6,3}
a|b

{0, 1, 2, 3, 4, 5, 6, 8, 9}

# intersection is used for "&"

In [31]:
a&b

{3, 5}

# it is used for return then list is used in print then the program is long used by print then simply is retuurn used

In [35]:
def display(a,b):
    z=a+b
    return z
display(10,15)

25

# Type of conversions

In [37]:
# string to integer converted 
i='1234567'
print(type(i))
i1=int(i)
print(type(i1))
print(i1)

<class 'str'>
<class 'int'>
1234567

In [41]:
i='2345'
print(type(i))
i1=int(i)
print(type(i1))
print(i1)

<class 'str'>
<class 'int'>
2345

# float

In [42]:
# int()
i2=float(i)
print(type(i))
print(i2)
print(type(i2))

<class 'str'>
2345.0
<class 'float'>

# string is converted into tuple

In [43]:
# int()
i2=tuple(i)
print(type(i))
print(i2)
print(type(i2))

<class 'str'>
('2', '3', '4', '5')
<class 'tuple'>

# asskey value (ord)

In [1]:
ord('4')

52

#  string to int

In [2]:
i4='a'
print(type(i4))
i3=ord(i4)
print(i3)
print(type(i3))

<class 'str'>
97
<class 'int'>

# convert into string to list

In [5]:
i='2345'
i3=list(i)
print(type(i))
print(i3)
print(type(i3))

<class 'str'>
['2', '3', '4', '5']
<class 'list'>

# string is not converted into dictionary

In [7]:
i='2345'
i4=dict(i)
print(type(i))
print(i4)
print(type(i4))

ValueError: dictionary update sequence element #0 has length 1; 2 is required

# string is converted into list names

In [8]:
i="ashok"
i5=list(i)
print(type(i))
print(i5)
print(type(i5))

<class 'str'>
['a', 's', 'h', 'o', 'k']
<class 'list'>

#  task: largest digit of the given number
#input:14589
#output:9
#using function

In [13]:
def display(n):
    i=0
    while n!=0:
        r=n%10
        if r > i:
            i = r
        n=n//10
        return i
display(14589)

9

## File:a file represents storage of data.a file stores data permanently so that it is available to all the programs
 # 1.text files
# 2.binary files

## text files:
    a.w=write data into file
    b.r=read data from the file
    c.a=append data to the file

## binary files: 
    a.w+ = to write and read data of a file
    b.r+ = to read and write data into a file
    c.a+ = to append and read data of a file
    d. x = open the file in exclusive creation mode.the files creation fails if the file already  exists

# file modes:
    1.opening a file
    2.append a file
    3.read a file
    4.close a file
    5.write a file

In [2]:
f=open("data.txt",'a')
f.write("ashok")

5

In [3]:
f.write("geethashok")
f.close()

In [5]:
f=open("data.txt",mode='w')
f.write("hii")
f.close()

In [6]:
f=open("data.txt",mode='r')
print(f.read())
f.close()

hii